global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend haproxynode
        bind *:8080
        mode http
        default_backend backendnodes

backend backendnodes
        balance roundrobin
        server node1 4.231.42.190:8080 check
        server node2 20.123.218.56:8080 check
	    server node3 20.123.220.171:8080 check
        #hey